    <% layout("/layouts/boilerplate") %>

<body>

        <section class="hero">
            <h1>Add Your Perfect Property</h1>
            <p>Browse thousands of listings or create your own in just a few minutes.</p>
            <button class="cta"> <a  class="line" href="/listings/add/Basicinfo">➕ Add Your Property </a> </button>
        </section>

        <section class="marketplace">
            <h2>Your Property Marketplace</h2>
            <p>Get started by adding your property listing today.</p>
        </section>


    <%- include("../includes/footer.ejs") %>
    <%- include("../includes/footerlist.ejs") %>

</body>