<% layout("/layouts/boilerplate") %>
<body>
    <h3> All Listing </h3>

  <form action="/listings/new" method="GET">    <!-- is link ar chale jayega  -->
        <button>Create New Lising </button>
    </form>

    <ul>
        <% for(let listing of allListings){ %>
            <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </a>  </li>
        <%  }  %>
    </ul>
    <%- include("../includes/footer.ejs") %>
    <%- include("../includes/footerlist.ejs") %>



    
</body>

