<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> WanderLust </title>
</head>
<body> -->
    <body>
    <% layout("/layouts/boilerplate") %>
    <h3> Create a new Listings </h3>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter title">
        <br> <br>
        <textarea name="listing[description]" placeholder="Enter description"> </textarea>
        <br> <br>
        <input type="text" name="listing[image]" placeholder=" enter image URL ">
        <br> <br>
        <input type="number" name="listing[price]" placeholder=" Enter price ">
        <br> <br>
        <input type="text" name="listing[Locations]" placeholder=" Enter Location">
        <br> <br>
        <input type="text" name="listing[Country]" placeholder="Enter country">
        <br> <br>
        <Button>Add</Button>

    </form>
    <%- include("../includes/footerlist.ejs") %>


</body>
<!-- </html> -->